/*http://colorbrewer2.org/?type=qualitative&scheme=Set3&n=9*/

body {
  margin: 0;
  background: black;
}

body svg.globe {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
}
#timer {
  z-index: 10;
  color: white;
  cursor: default;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  margin-right: 80px;
  word-break: break-all;
}
#timestamp:hover {
  cursor: wait;
  color: red;
}
#contact {
  color: black;
  font-weight: bold;
}
#portfolioContainer {
  position: absolute;
  left: 5%;
  top: 15%;
}
#portfolioContainer div {
  --width: 150px;
  position: absolute;
  background-color: white;
  width: var(--width);
  height: var(--width);
}
#title {
  z-index: 1;
  color: white;
  cursor: default;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  font-weight: 400;
  text-align: right;
  line-height: 100%;
  position: absolute;
  top: 1%;
  right: 1%;
  max-height: 99%;
  overflow: hidden;
}
#title span {
  opacity: 0;
}

path.glow {
  fill: none;
  stroke: white;
  stroke-width: 5px;
}

path.ocean {
  fill: rgba(255,255,255,1);
}

path.land {
  fill: rgba(0,0,0,1);
}

path.countries {
  fill: none;
  stroke: rgba(255,255,255,1);
  stroke-width: 0.3px;
}